<html>
  <head>
    <title>Smart City Cleaning</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div align="center" class="hd">Trash AI</div>
	<div align="center" class="sd">
	<a href="/">Home</a> |
	<a href="/login">Login</a> |
	<a href="/testing">Testing</a>
	</div>
	
	
    
    <p>&nbsp;</p>
    <h3 align="center">Smart City</h3>
    <p align="center"><img src="../static/trash.jpg" width="620" height="421"></p>
  </body>
</html>
