<html>
<head>
<title>Smart City Cleaning</title>
<link href="../static/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
<!--
.style1 {color: #009933}
-->
    </style>
</head>
<body>
    <div align="center" class="hd">Smart City Cleaning</div>
	<div align="center" class="sd">
	<a href="/admin">Home</a> |
	<a href="/home">Uploads</a> |
	<a href="/selection">Training</a> |
	<a href="/alert">Alert</a> |
	<a href="/logout">Logout</a>
	</div>
	
	
    
    <p>&nbsp;</p>
    <h2 align="center">Training Process</h2>
    <form action="/selection" method="post" name="form1">
      <table width="396" border="0" align="center" cellpadding="5" cellspacing="0" class="bg1">
        <tr>
          <td width="192"> </td>
          <td width="188"></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" name="Submit2" value="Training"></td>
        </tr>
      </table>
	  
	  
      <h3 align="center" class="style1">&nbsp;</h3>
	  
      <p>&nbsp;</p>
</form>
    <p align="center">&nbsp; </p>
    <p align="center">&nbsp;</p>
</body>
</html>
